/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset

#container
  width: 700px
  margin-left: auto
  margin-right: auto
  margin-top: 200px

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  font-size: 16px

h1
  font-size: 40px

p
  margin: 16px 0 16px 0

.title
  fill: yellow
  stroke: orange

#three
  text
    font: bold 48px monospace

  .enter
    fill: green

  .update
    fill: #333

  .exit
    fill: brown

table
  margin-top: 30px
  margin-bottom: 30px
  border-bottom: 2px solid #000
  
  thead td
    background-color: #ddd
    color: white
    font-weight: 900

  td
    background-color: #fff
    padding: 10px 20px
    border: 1px solid white
    font-weight: 600