doctype 5
html(lang="en")
  head
    title Sketch five
    link(href="../stylesheets/screen.css", rel="stylesheet", type="text/css")
    script(src="../js/d3.v2.js")

  body#five
    #container
      h1 Sketch five



    script(src="../js/five.js")