doctype 5
html(lang="en")
  head
    title Sketch four
    link(href="../stylesheets/screen.css", rel="stylesheet", type="text/css")
    script(src="../js/d3.v2.js")

  body#four
    #container
      h1 Sketch four

      table
        thead
          tr
            td A
            td B
            td C
            td D
        tbody
          tr
            td 0
            td 1
            td 2
            td 3
          tr
            td 4
            td 5
            td 6
            td 7
          tr
            td 8
            td 9
            td 10
            td 11
          tr
            td 12
            td 13
            td 14
            td 15

      #new-table


    script(src="../js/four.js")