doctype 5
html(lang="en")
  head
    title="d3 - one"
    link(href="../stylesheets/screen.css", rel="stylesheet", type="text/css")
    script(src="../js/d3.v2.js")

  body
    div#container
      h1 Hello world

      p Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

      svg(with="700", height="300")
        circle(class="title", cx="380", cy="70", r="15")
        circle(class="title", cx="580", cy="270", r="25")
        circle(class="title", cx="180", cy="170", r="20")

    script(src="../js/one.js")