doctype 5
html(lang="en")
  head
    title Sketch six
    link(href="../stylesheets/screen.css", rel="stylesheet", type="text/css")
    script(src="../js/d3.v2.js")

  body#six
    #container
      h1 Sketch six

      #chart



    script(src="../js/six.js")