doctype 5
html(lang="en")
  head
    title Sketch three
    link(href="../stylesheets/screen.css", rel="stylesheet", type="text/css")
    script(src="../js/d3.v2.js")

  body#three
    div#container
      h1 Sketch three

      div#svg

    script(src="../js/three.js")